<div class="sidebar" #sidebar>
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">Project L</div>
    <i class="bx bx-menu" id="btn" (click)="toggleNavigationMenu()"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search" (click)="toggleNavigationMenu()"></i>
      <input type="text" placeholder="Search..." />
      <span class="tooltip">Search</span>
    </li>
    <li *ngFor="let navMenu of navMenus">
      <a routerLink="{{ navMenu.routePath }}">
        <i class="{{ navMenu.iconClass }}"></i>
        <span class="{{ navMenu.labelClass }}">{{ navMenu.label }}</span>
      </a>
      <span class="{{ navMenu.toolTipClass }}">{{ navMenu.toolTip }}</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <img src="./assets/images/default_profile.jpg" alt="profileImg" />
        <div class="name_job">
          <div class="name">Krishna Polanki</div>
          <div class="job">Full stack Dev</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>
<section class="home-section">
  <router-outlet></router-outlet>
</section>
